/* -- Style the header ----------------------------------------------------- */
.header {
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color for the header */
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space items evenly along the main axis */
    align-items: center; /* Center items along the cross axis */
    padding: 40px; /* Add padding to adjust spacing around header content */
    height: 60px; /* Set the height of the header */
}

nav ul {
    list-style: none; /* Remove default list styling for the navigation */
    display: flex; /* Use flexbox layout for the navigation items */
    gap: 50px; /* Adjust the gap between menu items */
    font-size: 20px; /* Set the font size for navigation items */
    font-family: 'Courier New', Courier, monospace; /* Set the font family for navigation items */
    margin-right: 20px; /* Add margin to the right of the navigation */
}

nav a {
    text-decoration: none; /* Remove link underlines */
    color: #ffffff; /* Set the text color for navigation links */
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

nav a:hover {
    color: #ffd700; /* Change the color on hover */
}

/*-- End of header ---------------------------------------------------------------*/

body {
    background-image: url('images/chosen_cafe_image-overlayed.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
}

/*---------------------------------------------------------------------------------------*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    text-align: center;
}

.button .body-content {
    max-width: 600px; 
    color: #fff;
}

.body-content.hide {
    opacity: 0;
}

.button .body-content h1 {
    font-size: 30px; 
    color: #fff;
    margin-bottom: 60px; /* Reduce the margin between h1 and paragraph */
}
.button .body-content p {
    font-size: 20px; 
    color: #fff;
    margin-bottom: 30px; /* Add some margin for spacing */
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #906041;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none; /* Remove underline */
}
.button-link:hover {
    background-color: #a2a2a2;
}
/*---------------------------------------------------------------------------------------*/


footer {
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 10px; 
}

/* Responsive styling */
@media (max-width: 600px) {

    header {
        text-align: center;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        padding: 30px; /* Add padding to adjust spacing */
        min-height: 85px; /* Set your desired minimum height */
    }
    

    header h1 {
        display: block; /* Ensure h1 is a block element */
        font-size: 28px; /* Adjust the font size as needed */
        margin-bottom: 10px; /* Add space between h1 and nav */
    }

    nav ul {
        list-style: none;
        padding: 0;
        text-align: center; /* Center the list items */
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 20px;
    }

    nav li {
        display: block; /* Stack list items */
        margin-bottom: 5px; /* Adjust the margin between list items */
    }
}