

/*------------------------------------------------------------------*/

.limited-time {
    text-align: center; /* Center the text */
    background-color: #dfba25; /* Add a background color */
    padding: 10px; /* Add some padding for better visibility */
    margin: 20px 0; /* Add margin to create space around the section */
    color: #333; /* Set the text color */
    font-size: 22px; /* Set the font size */
    font-weight: bold; /* Make the text bold */
}
.button-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Single column by default */
    gap: 20px;
    margin: 20px;
}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Adjusted to distribute content evenly */
    text-align: center;
    background-color: #bfbfbf;
    padding: 20px;
    color: #fff;
    transition: transform 0.3s ease;
    margin-bottom: 20px; /* Add margin at the bottom */
}
.button:hover {
    transform: scale(1.05);
}
.button img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.body-content {
    max-width: 600px;
}
.body-content h1 {
    font-size: 30px;
    margin-bottom: 10px; /* Adjusted margin */
}
.body-content p {
    font-size: 20px;
    margin-bottom: 10px;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #906041;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px; /* Add margin at the top */
}
.button-link:hover {
    background-color: #ff8800;
}
/*---------------------------------------------------------------------------------------*/
/* Add media queries for responsiveness */
@media only screen and (min-width: 600px) {
    .button-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns on screens wider than 600px */
    }
}

@media only screen and (min-width: 900px) {
    .button-container {
        grid-template-columns: repeat(3, 1fr); /* Three columns on screens wider than 900px */
    }
}
/* Responsive styling */
@media (max-width: 600px) {

    header {
        text-align: center;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        padding: 30px; /* Add padding to adjust spacing */
        min-height: 85px; /* Set desired minimum height */
    }
    

    header h1 {
        display: block; /* Ensure h1 is a block element */
        font-size: 28px; /* Adjust the font size as needed */
        margin-bottom: 10px; /* Add space between h1 and nav */
    }

    nav ul {
        list-style: none;
        padding: 0;
        text-align: center; /* Center the list items */
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 20px;
    }

    nav li {
        display: block; /* Stack list items */
        margin-bottom: 5px; /* Adjust the margin between list items */
    }
}
