/* General Styles */
body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

nav a:hover {
    color: #ffd700; /* Change the color on hover to your preference */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px; /* Increase font size for better readability */
}

/* Background Image Styles */
body {
    background-image: url('images/chosen_cafe_image-overlayed.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
}

/* White Container Styles */
.white-container {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Menu Item Styles */
.menu-item h3 {
    font-size: 24px;
}

.menu-item ul.food-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu-item li {
    text-align: center;
    width: 30%;
}

.menu-item img {
    width: 100%; /* Make images responsive */
    height: auto;
}

.menu-title {
    font-size: 22px;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    .menu-item li {
        width: 100%;
    }
}
