/* -- Style the header ----------------------------------------------------- */
.header {
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color for the header */
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Space items evenly along the main axis */
    align-items: center; /* Center items along the cross axis */
    padding: 40px; /* Add padding to adjust spacing around header content */
    height: 60px; /* Set the height of the header */
}

nav ul {
    list-style: none; /* Remove default list styling for the navigation */
    display: flex; /* Use flexbox layout for the navigation items */
    gap: 50px; /* Adjust the gap between menu items */
    font-size: 20px; /* Set the font size for navigation items */
    font-family: 'Courier New', Courier, monospace; /* Set the font family for navigation items */
    margin-right: 20px; /* Add margin to the right of the navigation */
}

nav a {
    text-decoration: none; /* Remove link underlines */
    color: #ffffff; /* Set the text color for navigation links */
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
}

nav a:hover {
    color: #ffd700; /* Change the color on hover */
}

/*-- End of header ---------------------------------------------------------------*/


body {
    background-image: url('images/Images_MrsBeanCafe_Workshop/Workshop_coffeeBeans.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
}

/*---------------------------------------------------------------------------------------*/
.image-overlay img {
    width: 95%;
    height: auto;
    max-height: 500px; /* Set the desired height in pixels or another unit */
    object-fit: cover;
}

/*for my overlay text on top of my top image*/
.overlay-content {
    margin-top: 10px;
    position: relative;
    text-align: center;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255) ;
    text-align: center;
    font-style: bold;
}

.text-overlay h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 17px;
    margin: 5px 0;
}

/*----------------------------------------------------------------------------------------*/
.text-box {
    padding: 20px; /* Adjust the padding as needed */
    text-align: center; /* Adjust text alignment within the box */
    color: #fff;
    width: 600px;
    margin: 20px auto; /* Center the box horizontally */
}

.text-box h3 {
    font-size: 20px; /* Adjust the font size as needed */
}
/*----------------------------------------------------------------------------------------*/
.image-under-text {
    display: flex;
}

.overlay-content {
    position: relative;
    margin-right: 10px; /* Adjust the spacing between images */
}

.overlay-content img {
    max-width: 90%; /* Make the image responsive */
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.overlay-text h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.overlay-text p {
    font-size: 16px;
}

/* Style for the custom button */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #906041;
    color: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #ff8800;
}

/*----------------------------------------------------------------------------------------*/
.gray-text-box {
    margin-top: 40px;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    background-color: #bfbfbf; /* Gray background color */
    padding: 20px; /* Adjust the padding as needed */
    color: #000000; /* Text color */
}

.gray-text-box img {
    margin-right: 100px;
    max-width: 30%; /* Make the image responsive */
    height: auto;
}

.gray-text-box h1{
    font-size: 45px;
}

.gray-text-box h3 {
    font-size: 20px;
    font-family: monospace; /* Use font-family to set the font */
    letter-spacing: 7px; /* Adjust the value to control the spacing */
}

.gray-text-box p{
    font-size: 17px;
    font-weight: bold;
}

/*----------------------------------------------------------------------------------------*/
.machine-content {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.machine-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.machine-content h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.machine-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.machine-content img {
    width: 60%;
    height: 400px; /* Set a fixed height as needed */
    object-fit: cover; /* This property ensures the image covers the container while maintaining its aspect ratio */
    margin-bottom: 10px;
}

/*----------------------------------------------------------------------------------------*/
footer {
    background-color: hsl(0, 0%, 20%);
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
    font-size: 10px; 
}


/* Responsive styling */
@media (max-width: 600px) {

    header {
        text-align: center;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        padding: 30px; /* Add padding to adjust spacing */
        min-height: 85px; /* Set desired minimum height */
    }
    

    header h1 {
        display: block; /* Ensure h1 is a block element */
        font-size: 28px; /* Adjust the font size as needed */
        margin-bottom: 10px; /* Add space between h1 and nav */
    }

    nav ul {
        list-style: none;
        padding: 0;
        text-align: center; /* Center the list items */
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        margin-left: 20px;
    }

    nav li {
        display: block; /* Stack list items */
        margin-bottom: 5px; /* Adjust the margin between list items */
    }

    .image-overlay img {
        max-height: 300px; /* Adjust the height for smaller screens */
    }

    .image-overlay 
    .text-overlay h1 {
        font-size: 35px; /* Adjusted font size for screens up to 768 pixels wide */
    }

    .image-overlay 
    .text-overlay p {
        display: none;
    }

    .text-box {
        width: 80%; /* Adjusted width for smaller screens */
        margin: 0 auto; /* Center the container */
    }

    .text-box h3 {
        font-weight: unset;
        font-size: 13px; /* Adjusted font size for screens up to 768 pixels wide */
        max-width: 100%; /* Ensure text doesn't overflow the container */
        margin-bottom: 10px; /* margin for spacing */
    }

    .overlay-text h2 {
        font-size: 12px;
    }

    .gray-text-box {
        display: flex;
        flex-direction: column; /* Stack items vertically by default */
        text-align: center; /* Center-align text */
    }
    
    .gray-text-box img {
        width: 100%; /* Make the image responsive */
        height: auto;
        max-width: 100%; /* Ensure the image doesn't exceed its natural size */
        object-fit: cover; /* Scale the image while maintaining its aspect ratio */
        margin: 0 auto; /* Center the image horizontally within its container */
    }
    
    .gray-text-box-content {
        padding: 20px;
    }

    .custom-button {
        font-size: 13px;
    }

}
/* Responsive styling */
@media (min-width: 601px) and (max-width: 900px) {
    .header {
        background-color: #333; /* Background color for the header */
        color: #fff; /* Text color for the header */
        padding: 40px; /* Add padding to adjust spacing around header content */
        height: 60px; /* Set the height of the header */
    }
    
    nav ul {
        gap: 50px; /* Adjust the gap between menu items */
        font-size: 20px; /* Set the font size for navigation items */
        font-family: 'Courier New', Courier, monospace; /* Set the font family for navigation items */
        margin-right: 20px; /* Add margin to the right of the navigation */
    }

   /* Styles for screens with a maximum width of 600px (adjust as needed) */
    .gray-text-box img {
        margin-right: 0; /* Remove the margin on smaller screens */
    }

    .gray-text-box h1 {
        margin-left: 15px;
        font-size: 25px;
    }

    .gray-text-box h3 {
        margin-left: 15px;
        font-size: 15px;
    }

    .gray-text-box p {
        margin-left: 10px;
        font-size: 13px;
        font-weight: unset;
    }
}
